apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: nginx-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: ghcr.io/linuxserver/nginx:latest
          ports:
            - containerPort: 80
          volumeMounts:
            - name: html-content
              mountPath: /config/www/
              readOnly: true
      volumes:
        - name: html-content
          configMap:
            name: nginx-html
            items:
              - key: index.html
                path: index.html
