apiVersion: apps/v1
kind: Deployment
metadata:
  name: apache2-deployment
  namespace: apache-ssl
  labels:
    app: apache2
spec:
  replicas: 2
  selector:
    matchLabels:
      app: apache2
  template:
    metadata:
      labels:
        app: apache2
    spec:
      containers:
        - name: apache2
          image: ghcr.io/servercontainers/apache2-ssl-secure:latest
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
