name: Simple Trivy Scan - Image Externe

on:
  # Permet de lancer le workflow manuellement depuis l'interface GitHub
  workflow_dispatch:

jobs:
  scan_image:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      # Action pour récupérer le code, nécessaire pour créer l'artefact
      uses: actions/checkout@v4

    - name: Lancement du scan Trivy sur l'image Nginx et exportation
      # Fix pour l'erreur 'repository not found' : utilisation du tag de version stable.
      uses: aquasec/trivy-action@0.1.60 
      with:
        image-ref: 'ghcr.io/linuxserver/nginx:latest'
        scan-type: 'image'
        format: 'table'
        severity: 'CRITICAL,HIGH'
        exit-code: '1'
        # Le rapport est exporté dans ce fichier
        output: 'trivy-report-nginx.txt'

    - name: Upload du rapport Trivy en tant qu'artefact
      uses: actions/upload-artifact@v4
      with:
        name: trivy-security-report
        path: trivy-report-nginx.txt
