name: Simple Trivy Scan - Image Externe

on:
  workflow_dispatch:

jobs:
  scan_image:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Lancement du scan Trivy sur l'image Nginx et exportation
      uses: aquasec/trivy-action@v0.1.19
      with:
        image-ref: 'ghcr.io/linuxserver/nginx:latest'
        scan-type: 'image'
        format: 'table'
        severity: 'CRITICAL,HIGH'
        exit-code: '1'
        output: 'trivy-report-nginx.txt'

    - name: Upload du rapport Trivy en tant qu'artefact
      uses: actions/upload-artifact@v4
      with:
        name: trivy-security-report
        path: trivy-report-nginx.txt
